/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}
* {
  box-sizing: border-box;
}
div {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  padding: 10px;
  padding-bottom: 45px;
}
.html-preview {
  width: 100%;
  margin-bottom: 5px;
  overflow: auto;
}
textarea {
  height: 100%;
  width: 100%;
  font-size: 120%;
}
input {
  width: 100%;
}
.hide {
  display: none;
}
.table-wrapper {
  display: block;
  background: #f4f4f4;
  padding: 3px 2px;
}
.actions-directive {
  margin-bottom: 1em;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background: #ffffff;
  border: #ffffff 1px solid;
  font-size: 90%;
}
th,
td {
  background: #f4f4f4;
  border-right: #d1d1d1 1px solid;
  border-bottom: #d1d1d1 1px solid;
  padding: 5px;
}
th {
  color: #333333;
  background: #f4f4f4;
  padding: 2px 5px;
}
tr:nth-child(2n) td {
  background: #ffffff;
}
tr :first-child {
  border-left: #ffffff 1px solid;
}
tr :last-child {
  border-right: #ffffff 1px solid;
}
tr:last-child td {
  border-bottom: none;
}
td.dotdotdot {
  text-align: center;
}
.field {
  border: #d1d1d1 1px solid;
  padding: 0 5px;
  background: #f4f4f4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-field:before,
.form-information:before,
.reference:before {
  content: "Field: ";
  color: #666666;
  font-size: 80%;
  font-weight: normal;
}
.form-information:before {
  content: "Information: ";
}
.reference:before {
  content: "Reference: ";
}
