.form-field {
  border: @border 1px solid;
  padding: 0 5px;
  background:@background-darker;
  .rounded(3px);
}

.form-field:before {
  content: "Form Field: ";
  color:@text-color-lighter;
  font-size: 80%;
}

.reference:before {
  content: "RefField: ";
}